<div class="clearfix"></div>
<div class="row">
    <h1 class="text-center">Edit Book</h1>
<div class="col-md-offset-4 col-md-4 center">


<%= render 'form_edit' %>
<%= link_to 'Show Book', @book %>
</div>
</div>
