<h1>El resultado de tu búsqueda:</h1>
<% @searched_books.each do |book| %>
  <p>
    <strong>Name:</strong>
    <%= book.name %>
  </p>
<% end %>

<%= link_to 'Back to search', search_form_path %>
<%= link_to 'Back', books_path %>
