/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 *= require font-awesome
*/

// Color Palette
$foreground: #000;
$link: #0D4065;
$hover: #138CE4;
$background: #fff;
$bar-foreground: #fff;
$bar-hover: #BFBFBF;
$bar-background: #c52f24;
$bar-background-secondary: #980905;
$extra: #7E8F7C;

$border-radius: 0px;

// Font
$font: roboto,
sans-serif;
$font-size: 16px;
$line-height: 18px;
%font {
    font-family: $font;
    font-size: $font-size;
    line-height: $line-height;
}

@mixin transition($time){
    -webkit-transition: all $time ease;
    -moz-transition: all $time ease;
    -o-transition: all $time ease;
    transition: all $time ease;
}

html body, html {
    background-color: $bar-background;
    @extend %font;
}

p,
ol,
ul,
td {
    @extend %font;
    color: $foreground;
}

#wrapper {
    padding-left: 0;
    @include transition(0.5s);
    background-color: transparent;
    &:toggled {
        padding-left: 250px;
    }
    h1{
        margin-top: 0px;
    }
    h1, h2, h3{
        color: $foreground;
    }
    a {
        color: $link;
        &:hover {
            text-decoration: none;
            color: $hover;
        }
    }
    .sidebar-nav li a {
        display: block;
        color: $bar-foreground;
        font-size: 20px;
        text-decoration: none;
        &:hover {
            background-color: $bar-background-secondary;
            color: $bar-hover;
            text-decoration: none;
        }
    }
}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background-color: $bar-background;
    @include transition(0.5s);
}

#wrapper:toggled > #sidebar-wrapper {
    width: 250px;
}

.block {
    display: block;
}

// Sidebar and Wrapper CSS

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    background-color: $background;
    color: $foreground;
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    font-size: 18px;
    line-height: 60px;
}

#wrapper .sidebar-nav > .sidebar-brand a {
    color: $bar-foreground;
}

#wrapper .sidebar-nav > .sidebar-brand a:hover {
    color: $bar-hover;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}


/* User info on Sidebar */

.avatar {
    position: relative;
    margin: 15px 15px;
    z-index: 100;
}

.avatar img {
    width: 180px;
    height: 180px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid $bar-foreground;
    &:hover{
        border: 5px solid $bar-hover;
    }
}

#wrapper .sidebar-nav .sidebar-brand .user-name a{
    font-size: 32px;
    width: 100%;
    text-align: center;
    text-indent: 0;
}

#menu-toggle {
    float: left;
}


/* Flash CSS */

.flash {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#flash_error,
#flash_alert {
    background-color: rgb(255, 212, 212);
    color: rgb(199, 0, 0);
    border: 2px solid rgb(199, 0, 0);
}

#flash_success,
#flash_notice {
    background-color: rgb(212, 255, 224);
    color: rgb(0, 125, 35);
    border: 2px solid rgb(0, 125, 35);
}


/* centered columns styles */

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

.col-fixed {
    /* custom width */
    width: 320px;
}

.col-min {
    /* custom min width */
    min-width: 320px;
}

.col-max {
    /* custom max width */
    max-width: 320px;
}

.clearfix {
    clear: both;
}

.center {
    text-align: center;
}


/* Form CSS */

.center form {
    display: inline-block;
}

.center form .field {
    width: 100%;
}

.tag-grid-ul li {
    display: block;
    float: left;
    width: 50%;
    font-size: 70%;
}

.field_with_errors {
    display: inline;
}

.field_with_errors .message {
    color: #D80;
    padding-left: 5px;
    font-size: 12px;
}

#wrapper .btn{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}

/* Toggle Button CSS */

#nav-icon1 {
    width: 60px;
    height: 45px;
    position: relative;
    margin: 10px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    float: left;
}

#nav-icon1 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: $bar-foreground;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon1:hover span {
    background: $bar-hover;
}

#nav-icon1 span:nth-child(1) {
    top: 0px;
}

#nav-icon1 span:nth-child(2) {
    top: 18px;
}

#nav-icon1 span:nth-child(3) {
    top: 36px;
}

#nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

/* Logo CSS */

#logo-mini {
    position: absolute;
    ;
    bottom: 0px;
    right: 0px;
}

#logo {
    margin: 0 auto;
}

#wrapper i.fa.fa-ban,
#wrapper .ban-button {
    color: #E62C2C;
}

#wrapper i.fa.fa-:hover,
#wrapper .ban-button:hover {
    color: #9E0909;
}

#wrapper i.fa.fa-plus-circle,
#wrapper .unban-button {
    color: #69C55B;
}

#wrapper i.fa.fa-plus-circle:hover,
#wrapper .unban-button:hover {
    color: #2D6919;
}

#wrapper i.fa.fa-arrow-circle-down,
#wrapper .downgrade-button {
    color: #A76BC9;
}

#wrapper i.fa.fa-arrow-circle-down:hover,
#wrapper .downgrade-button:hover {
    color: #510E78;
}

#wrapper i.fa.fa-arrow-circle-up,
#wrapper .upgrade-button {
    color: #63C7D6;
}

#wrapper i.fa.fa-arrow-circle-up:hover,
#wrapper .upgrade-button:hover {
    color: #0E6A78;
}

.user {
    margin: 15px;
    height: 150px;
}

.user p {
    text-align: center;
}

.user .user-thumb {
    display: block;
    margin: 0 auto;
}

.notification-label {
    padding: 1px 7px;
    font-size: 0.8em;
    border-radius: 50%;
    color: #fff;
    margin-left: 5px;
    font-weight: bold;
}

.notification-label.notification-label-green {
    background: #2D6919;
}

.notification-label.notification-label-yellow {
    background: #CC7400;
}

#wrapper .c-tab__content .will_paginate ul{
    .active span{
        background-color: $hover;
        border-color: $hover;
    }
    li a{
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }


}

#top-bar{
    background-color: $bar-background;
    width: 100%;
}

#wrapper .top-bar-item{
    padding: 5px;
    float: left;
    a {
        color: $bar-foreground;
        &:hover{
            color: $bar-hover;
        }
    }
}
